---
title: About page for you
layout: base.njk
---    

<div class="container"></div>
<h1>Ez egy weboldal csak neked</h1>
<div>Ez az oldal HTML, CSS és Javascript segítségével jött létre és JAMstack siteként kiszolgálva.</div>